/* Styles de base */

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}
/* classe .container est utilisée pour contenir le contenu de la page et limiter sa largeur à 1200px. */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (max-width: 992px) {
  .container {
      padding: 10px;
  }
}

/* Media queries pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .container {
      padding: 5px;
  }
}

h1 {
  font-family: "Share Tech";
  animation: pulse 0.9s infinite;
  color: #00ebd4;
}

#identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message {
  margin-top: 20px;
  font-family: "Share Tech";
  font-weight: 900;
  font-size: 24px;
  color: #00ebd4;
  animation: pulse 0.9s infinite;
}

i {
  font-size: 24px;
  color: #00ebd4;
  animation: pulse 0.9s infinite;
}

.block {
  width: 50px;
  height: 50px;
  background-color: #000;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.cursor:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

.sign:before {
  content: "> ";
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loadingMessage2 {
  display: none;
}

.sub-item {
  margin-top: 20px;
  margin-left: 40px;
}

.inline {
  display: inline;
  margin-left: 10px;
}


.img-container {
  position: center;
  bottom: 0;
  right: 0%; 
}

.img-container img {
  opacity: 0;
  transition: opacity 30s ease-in-out, transform 40s ease-in-out;
  margin-top: 20px; 
  vertical-align: middle;
}

/* Afficher le texte au survol */
.image-link:hover .text-overlay {
  opacity: 1;
}
/* Positionnement relatif pour le conteneur d'image */
.image-wrapper {
  position: relative;
  display: inline-block; /* pour s'adapter à la taille de l'image */
}

/* Filtre semi-transparent */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Prend la largeur de l'image */
  height: 100%; /* Prend la hauteur de l'image */
  background-color: rgba(0, 235, 212, 0.667); /* #00ebd4 semi-transparent */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Texte sur l'image */
.text-overlay {
font-family: "Share Tech", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #77C2F8; /* Couleur du texte */
  font-size: 18px; /* Taille du texte */
  font-weight: bold; /* Gras */
  opacity: 0;
  transition: opacity 0.3s ease;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Contour noir */
}

/* Afficher le texte et le filtre au survol */
.image-link:hover .overlay {
  opacity: 1;
}

.image-link:hover .text-overlay {
  opacity: 1;
}

