/* Styles de base */

body {
  background-color: #000; /* Couleur de fond */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les marges intérieures par défaut */
}

/* Classe .container utilisée pour contenir le contenu de la page et limiter sa largeur à 1200px. */

.container {
  max-width: 1200px; /* Largeur maximale de la page */
  margin: 0 auto; /* Centrer horizontalement */
  padding: 20px; /* Ajouter un espace intérieur */
}

.img-container img {
  max-width: 100%; /* Image occupant toute la largeur */
  height: auto; /* Hauteur ajustée automatiquement */
  margin: 0 auto; /* Centrer horizontalement */
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (max-width: 992px) {
  .container {
      padding: 10px; /* Réduire l'espace intérieur */
  }
}

/* Media queries pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .container {
      padding: 5px; /* Réduire davantage l'espace intérieur */
  }
}

h1 {
  font-family: "Share Tech"; /* Police de caractères */
  animation: pulse 0.9s infinite; /* Animation de pulsation */
  color: #00ebd4; /* Couleur du texte */
}

/* Styles pour différents éléments de texte */
#identity-results, #resume, #loading-alpha-div, #loadingH1, #loadingMessage2, #message {
  margin-top: 20px; /* Marge supérieure */
  font-family: "Share Tech"; /* Police de caractères */
  font-weight: 900; /* Poids de la police */
  font-size: 24px; /* Taille de la police */
  color: #00ebd4; /* Couleur du texte */
  animation: pulse 0.9s infinite; /* Animation de pulsation */
}

i {
  font-size: 24px; /* Taille de la police */
  color: #00ebd4; /* Couleur du texte */
  animation: pulse 0.9s infinite; /* Animation de pulsation */
}

.block {
  width: 50px; /* Largeur */
  height: 50px; /* Hauteur */
  background-color: #000; /* Couleur de fond */
}

/* Animation de pulsation */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* Curseur clignotant */
.cursor:after {
  content: "_"; /* Contenu */
  opacity: 0; /* Opacité */
  animation: cursor 1s infinite; /* Animation de clignotement */
}

.sign:before {
  content: "> "; /* Contenu */
}

/* Animation de clignotement */
@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loadingMessage2 {
  display: none; /* Masquer */
}

/* Styles pour les sous-éléments */
.sub-item {
  margin-top: 20px; /* Marge supérieure */
  margin-left: 40px; /* Marge gauche */
}

.inline {
  display: inline; /* Afficher en ligne */
  margin-left: 10px; /* Marge gauche */
}

.img-container {
  position: center; /* Positionnement central */
  bottom: 0; /* Bas */
  right: 0%; /* Droite */
}

.img-container img {
  opacity: 0; /* Opacité initiale */
  transition: opacity 30s ease-in-out, transform 40s ease-in-out; /* Transition d'opacité et de transformation */
  margin-top: 20px; /* Marge supérieure */
  vertical-align: middle; /* Alignement vertical */
}

/* Afficher le texte au survol */
.image-link:hover .text-overlay {
  opacity: 1;
}

/* Positionnement relatif pour le conteneur d'image */
.image-wrapper {
  position: relative; /* Positionnement relatif */
  display: inline-block; /* Afficher en ligne */
}

/* Filtre semi-transparent */
.overlay {
  position: absolute; /* Position absolue */
  top: 0; /* Haut */
  left: 0; /* Gauche */
  width: 100%; /* Largeur */
  height: 100%; /* Hauteur */
  background-color: rgba(0, 235, 212, 0.667); /* Couleur semi-transparente */
  opacity: 0; /* Opacité initiale */
  transition: opacity 0.3s ease; /* Transition d'opacité */
}

/* Texte sur l'image */
.text-overlay {
  font-family: "Share Tech", sans-serif; /* Police de caractères */
  position: absolute; /* Position absolue */
  top: 50%; /* Centre vertical */
  left: 50%; /* Centre horizontal */
  transform: translate(-50%, -50%); /* Centrage */
  color: #77C2F8; /* Couleur du texte */
  font-size: 18px; /* Taille de la police */
  font-weight: bold; /* Gras */
  opacity: 0; /* Opacité initiale */
  transition: opacity 0.3s ease; /* Transition d'opacité */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Contour noir */
}

/* Afficher le texte et le filtre au survol */
.image-link:hover .overlay {
  opacity: 1; /* Afficher le filtre */
}

.image-link:hover .text-overlay {
  opacity: 1; /* Afficher le texte */
}
